<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="header-title">Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<div class="shapedividers_com-4940"></div>




<ion-content class="ion-padding">
  <div class="recovery-container">
    <!-- Imagen superior -->
    <div class="image-container">
      <img src="assets/icon/Key.png" alt="Recuperar Contraseña" class="recovery-image" />
    </div>

    <!-- Título -->
    <h2 class="recovery-title">Recupera el ingreso a tu Guild</h2>

    <!-- Formulario -->
    <div class="form-container">
      <ion-item class="input-item">
        <ion-label position="floating" class="label">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="nombreUsuario" class="input"></ion-input>
      </ion-item>

      <!-- Botones -->
      <div class="button-container">
        <ion-button expand="block" (click)="recuperarContrasena()" class="button-primary">
          RECUPERAR
        </ion-button>

        <ion-button expand="block" (click)="volverAlLogin()" class="button-secondary">
          VOLVER 
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>