<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/icon/Book.png" alt="home" class="icon-image" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desafios">
      <img src="assets/icon/Sword.png" alt="Espada" class="icon-image" />
      <ion-label>Misiones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr">
      <img src="assets/icon/Sword.png" alt="QR" class="icon-image" />
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premios">
      <img src="assets/icon/Diamond.png" alt="premios" class="icon-image" />
      <ion-label>Premios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking">
      <img src="assets/icon/Crown.png" alt="ranking" class="icon-image" />
      <ion-label>Ranking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
