<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desafios">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Desafíos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premios">
      <ion-icon name="gift-outline"></ion-icon>
      <ion-label>Premios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>