<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Desafíos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let desafio of desafios">
      <ion-label>
        <h2>{{ desafio.descripcion }}</h2>
        <p>Puntos: {{ desafio.puntos }}</p>
      </ion-label>
      <ion-button (click)="completarDesafio(desafio.id)" color="secondary">Completar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="volverAlHome()" color="light">
    Volver al Home
  </ion-button>
</ion-content>