<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>¡Bienvenido, {{ nombreUsuario }}!</ion-title>
    <ion-buttons slot="end"></ion-buttons>
      <ion-buttons slot="end">
        <!-- Reemplaza el ion-button por el botón de Angular Material con menú -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon color="white">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<div class="shapedividers_com-4940"></div>

<ion-content [fullscreen]="true" class="ion-padding" color="background">
  <!-- Bienvenida al usuario -->
  <ion-card color="primary" class="bienvenida-card">
    <ion-card-header>
      <ion-item lines="none" color="primary">
        <ion-avatar slot="start">
          <!-- Imagen de perfil del usuario -->
          <ion-img src="assets/icon/perfil.jpeg" alt="Foto de perfil"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-card-title>{{ nombreUsuario }}</ion-card-title>
          <ion-text>
            <ion-text class="info-text">Level: {{ nivelUsuario }}</ion-text>
            <ion-text class="info-text">Tienes {{ puntosUsuario }} puntos.</ion-text>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <!-- Sección de Desafíos -->
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Lista de desafíos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let desafio of primerosDesafios">
          <ion-label>
            <ion-text class="desafio-descripcion">{{ desafio.descripcion }}</ion-text>
            <ion-text class="desafio-puntos">Puntos: {{ desafio.puntos }}</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="full" color="primary" routerLink="/tabs/desafios">Ver Todos los Desafíos</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Sección de Premios -->
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Premios Disponibles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="primary" routerLink="/premios">Ver Premios</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Sección de Ranking -->
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Ranking de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="primary" routerLink="/ranking">Ver Ranking</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>