:host {
  ion-content {
    --background: var(--ion-background-color);
    color: var(--ion-text-color);
    padding-bottom: 20px; /* Asegura que el contenido no se pegue al borde inferior */
  }

  .bienvenida-card {
    margin: 16px;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }

  ion-card {
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  ion-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  ion-label {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 1em;
  }

  .info-text {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--ion-color-light);
  }

  .desafio-descripcion {
    font-size: 1em;
    font-weight: bold;
    color: var(--ion-text-color);
  }

  .desafio-puntos {
    font-size: 0.9em;
    color: var(--ion-color-medium);
  }

  ion-button {
    margin-top: 12px;
    width: 100%;
    --border-radius: 8px;
    --box-shadow: none;
  }

  ion-item {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
    margin: 5px 0;
    border-radius: 8px;
    padding: 10px;
  }

  ion-avatar {
    margin-right: 10px;
  }
}