<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="registro()">
    <!-- nombre de Usuario -->
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <!-- correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <!-- contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>


    <!-- nombre -->
     <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)] = 'nombre' name="nombre" required></ion-input>
     </ion-item>
    
    <!-- apellido -->
     <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)] = 'apellido' name="apellido" required></ion-input>
     </ion-item>

     <!-- rol -->
      <ion-item>
        <ion-label position="floating">Rol</ion-label>
        <ion-select [(ngModel)]="rol" name="rol" required>
          <ion-select-option *ngFor="let rol of roles" [value]="rol.id_rol">{{rol.nombre_rol}}</ion-select-option>
        </ion-select>
      </ion-item>

    <!-- botón de Registro -->
    <ion-button expand="full" type="submit" color="primary" class="ion-margin-top">
      Registrar
    </ion-button>

    <!-- botón para volver al Login -->
    <ion-button expand="full" fill="clear" color="medium" (click)="volverALogin()">
      Ya tengo una cuenta
    </ion-button>

    <!-- mensaje de error si el registro falla -->
    <ion-text color="danger" *ngIf="mensajeError" class="ion-text-center">
      <p>{{ mensajeError }}</p>
    </ion-text>
  </form>
</ion-content>
