<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Registrate y juega</ion-title>
  </ion-toolbar>
</ion-header>

<div class="shapedividers_com-4940"></div>

<ion-content class="ion-padding">
  <form (ngSubmit)="registro()">


    <!-- nombre -->
    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]='nombre' name="nombre" required></ion-input>
    </ion-item>

    <!-- apellido -->
    <ion-item>
      <ion-label position="floating" color="primary">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]='apellido' name="apellido" required></ion-input>
    </ion-item>

    <!-- nombre de Usuario -->
    <ion-item>
      <ion-label position="floating" color="primary" >Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <!-- correo Electrónico -->
    <ion-item>
      <ion-label position="floating" color="primary">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <!-- contraseña -->
    <ion-item>
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>



    <!-- rol -->
    <ion-item>
      <ion-label position="floating" color="primary">Rol</ion-label>
      <ion-select [(ngModel)]="rol" name="rol" required>
        <ion-select-option *ngFor="let rol of roles" [value]="rol.id_rol">{{rol.nombre_rol}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- botón de Registro -->
     <ion-list class="btn-registrarse" >
    <ion-button expand="default" class="btn-registro" type="submit" color="primary" class="ion-margin-top">
      Registrarse
    </ion-button>
  </ion-list>

    <!-- botón para volver al Login -->
    <ion-list class="btn-volver">
    <ion-button expand="default"  class="btn-regresar" fill="clear" color="accent" (click)="volverALogin()">
      Ya tengo una cuenta
    </ion-button>
  </ion-list>

    <!-- mensaje de error si el registro falla -->
    <ion-text color="danger" *ngIf="mensajeError" class="ion-text-center">
      <p>{{ mensajeError }}</p>
    </ion-text>
  </form>
</ion-content>